.app-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5px;
}

.section-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  padding: 5px;
}

.heading {
  color: orange;
  font-family: "Roboto";
  font-weight: bold;
  padding: 6px;
}

.search-input {
  color: brown;
  font-family: "Roboto";
  padding: 5px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.meals-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
